.container{
  text-align: center;
  font-family: 'Press Start 2P',Arial;
  background-color:#E7E7E7ff;
  scroll-behavior: smooth;
}
.iframeContainer{
  border-radius: 10px;
  border-style: inset;
  border-width: 15px;
  border-color: blue;
}
.textContainer{
  margin-left: 100px;
  margin-bottom: 100px;
}
.quizTable{
  border: 1px solid black;
  text-align: center;
  position: absolute;
  width:auto;
  right:0;
}
.quizBody{
  border: 1px solid black;
  text-align: center;
  position: relative;
}
