.App {
  text-align: center;
  font-family: "Comic Neue", cursive;
}
.personalityForm{
  margin-top:30vw;
  background-color: #F9FBF2;
}
.background{
  background-color: #F9FBF2;
  text-align: center;
  z-index: -2;
}
.personalityForm .row{
  margin-top: 5%;
}
.personalityForm td {
  height: 80px;
  width:150px;
  position: relative;
}
.tableData{
  padding-top:20%;
}
.personalityForm .textarea{
  padding: 6px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.personalityForm .select{
  padding: 6px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.personalityForm .radio{
  padding: 6px 20px;
  border-radius: 4px;
}
.personalityForm .qContent{
  text-align: center;
  position: absolute;
  right:0;
  left: 0;
  margin-top:2.5%;
  font-size: 20px;
}
.personalityForm table {
  font-family: 'Comic Neue', cursive;
  margin-top: 2%;
}
.formInput{
  display: inline;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 5%;
}

.quizTable{
  width: 50%;
  position: relative;
  border-spacing: 70px 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Radio button styling */
.personalityForm .MC{
  position: relative;
  top: 47px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  background-color: white;
  opacity: 0;
  margin-bottom: 2%;
}
.personalityForm .customRadio{
  display: inline-block;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  background-color: white;
  z-index: -1;
  margin-bottom: 100%;
}
.radioContainer{
  position: relative;
  width: 50px;
  left: 25%;
  bottom: 50px;
}
.buttonStyle{
  position: absolute;
  left: 8px;
  top: 52px;
  height: 31px;
  width: 31px;
  z-index: 10;
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  background-color: white;
  box-shadow: 1px 1px 10px black;
  pointer-events: none;
}
.personalityForm input:checked ~ .buttonStyle{
  height: 32px;
  width: 32px;
  position:absolute;
  left:6.5px;
  top: 52px;
  -moz-box-shadow:    inset 0 0 10px #E53D00;
   -webkit-box-shadow: inset 0 0 10px #E53D00;
   box-shadow:         inset 0 0 10px #E53D00;
   background-color: #E53D00;
}
.personalityForm input:hover ~ .buttonStyle{
  background-color: #E53D00;
  cursor: pointer;
}
.personalityForm .tableData{
  position: relative;
  top:20%;
}
